---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { t } from 'i18next';
import Headline from '../ui/Headline.astro';
---

<WidgetWrapper>
  <section class="not-prose relative">
    <div class="mx-auto flex max-w-7xl flex-col justify-center">
      <Headline
        tagline={t('about.mv.values.tagline')}
        title={t('about.mv.values.title')}
        subtitle={t('about.mv.values.subtitle')}
      />
      <div class="mt-12 flex flex-row flex-wrap justify-center">
        <div
          data-aos="fade-up-sm"
          class="shadow1 w-full rounded-md bg-[rgba(52,99,133,0.13)] px-4 py-8 sm:w-1/2 lg:-mt-8 lg:h-full lg:w-1/4"
        >
          <h4 class="mb-4 text-center text-xl font-bold text-[#346385]">
            {t('about.mv.values.value0.title')}
          </h4>
          <p class="text-md text-center font-medium text-[#346385]">
            {t('about.mv.values.value0.text')}
          </p>
        </div>
        <div
          data-aos="fade-up-sm"
          class="shadow1 w-full rounded-md bg-[rgba(52,99,133,0.13)] px-4 py-8 sm:w-1/2 lg:h-full lg:w-1/4"
        >
          <h4 class="mb-4 text-center text-xl font-bold text-[#346385]">
            {t('about.mv.values.value1.title')}
          </h4>
          <p class="text-md text-center font-medium text-[#346385]">
            {t('about.mv.values.value1.text')}
          </p>
        </div>
        <div
          data-aos="fade-up-sm"
          class="shadow1 w-full rounded-md bg-[rgba(52,99,133,0.13)] px-4 py-8 sm:w-1/2 lg:h-full lg:w-1/4"
        >
          <h4 class="mb-4 text-center text-xl font-bold text-[#346385]">
            {t('about.mv.values.value2.title')}
          </h4>
          <p class="text-md text-center font-medium text-[#346385]">
            {t('about.mv.values.value2.text')}
          </p>
        </div>
        <div
          data-aos="fade-up-sm"
          class="shadow1 w-full rounded-md bg-[rgba(52,99,133,0.13)] px-4 py-8 sm:w-1/2 lg:-mt-8 lg:h-full lg:w-1/4"
        >
          <h4 class="mb-4 text-center text-xl font-bold text-[#346385]">
            {t('about.mv.values.value3.title')}
          </h4>
          <p class="text-md text-center font-medium text-[#346385]">
            {t('about.mv.values.value3.text')}
          </p>
        </div>
      </div>
    </div>
  </section>
</WidgetWrapper>
